body {
    flex-direction: column;
    align-items: center;
}

main {
    padding-top: 2rem;
}

.main-ad {
    width: 80vw;
    background-color: #F5F5F5;
    border-radius: 1.875rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.botao {
    display: inline-block;
    padding: 0.7rem 1.4rem;
    font-size: 0.7rem;
    font-weight: 700;
    color: black;
    border: 0.188rem solid black;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
    border-radius: 20rem;
}
   
.botao::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}
   
.botao:hover::before {
    transform: translateX(0);
}

.botao:hover {
    color: white;
}


.main-car {
    width: 90vw;
    height: auto;

}

.highlights-space {
    justify-content: space-between;
    width: 100%;
    padding-top: 1.875rem;
    flex-direction: column;
}

.highlights {
    background-color: #F5F5F5;
    border-right: 0.063rem solid #7A7B7B;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 1px 5px -1px;
    border-bottom: none;
    border-radius: none;
    width: 100%;
    height: 12vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.no-border-right {
    border-right: none;
}

.highlights p {
    padding: 0.313rem;
    font-size: 100%;
    font-style: italic;
}

@media print{}
@media only screen and (min-width:480px) {
    

    .botao {
        display: inline-block;
        padding: 0.7rem 1.4rem;
        font-size: 0.7rem;
        font-weight: 700;
        color: black;
        border: 0.188rem solid black;
        cursor: pointer;
        position: relative;
        background-color: transparent;
        text-decoration: none;
        overflow: hidden;
        z-index: 1;
        font-family: inherit;
        border-radius: 20rem;
    }

    .main-car {
        width: 90vw;
        height: auto;
    
    }

    .highlights-space {
        justify-content: space-between;
        width: 100%;
        padding-top: 1.875rem;
        flex-direction: column;
    }
    
    .highlights {
        background-color: #F5F5F5;
        border-right: none;
        border-top: none;
        border-radius: none;
        width: 100%;
        height: 11.5vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .no-border-right {
        border-right: none;
    }
    
    .highlights p {
        padding: 0.313rem;
        font-size: 100%;
        font-style: italic;
    }

}
@media only screen and (min-width:600px) {
    .botao {
        display: inline-block;
        padding: 0.7rem 1.4rem;
        font-size: 0.7rem;
        font-weight: 700;
        color: black;
        border: 0.188rem solid black;
        cursor: pointer;
        position: relative;
        background-color: transparent;
        text-decoration: none;
        overflow: hidden;
        z-index: 1;
        font-family: inherit;
        border-radius: 20rem;
    }

    .logo {
        height: 20vw;
        width: auto;
    }

    .main-car {
        width: 90vw;
        height: auto;
    
    }

    .highlights-space {
        justify-content: space-between;
        width: 100%;
        padding-top: 1.875rem;
        flex-direction: row;
    }
    
    .highlights {
        background-color: #F5F5F5;
        border-right: 0.063rem solid #7A7B7B;
        border-radius: 1.4rem;
        border-top: none;
        width: 25%;
        height: 11.5vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: none;
    }
    
    .no-border-right {
        border-right: none;
    }
    
    .highlights p {
        padding: 0.313rem;
        font-size: 65%;
        font-style: italic;
    }

}
@media only screen and (min-width:768px) {
    .botao {
        display: inline-block;
        padding: 0.7rem 1.4rem;
        font-size: 0.7rem;
        font-weight: 700;
        color: black;
        border: 0.188rem solid black;
        cursor: pointer;
        position: relative;
        background-color: transparent;
        text-decoration: none;
        overflow: hidden;
        z-index: 1;
        font-family: inherit;
        border-radius: 20rem;
    }

    .logo {
        height: 16vw;
        width: auto;
    }

    .main-car {
        width: 80vw;
        height: auto;
    
    }

    .highlights-space {
        justify-content: space-between;
        width: 100%;
        padding-top: 1.6rem;
    }
    
    .highlights {
        background-color: #F5F5F5;
        border-right: 0.063rem solid #7A7B7B;
        border-radius: 1.875rem;
        border-top: none;
        width: 25%;
        height: 13vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .no-border-right {
        border-right: none;
    }
    
    .highlights p {
        padding: 0.313rem;
        font-size: 80%;
        font-style: italic;
    }

}

@media only screen and (min-width:992px) {
    .botao {
        display: inline-block;
        padding: 1rem 2rem;
        font-size: 1rem;
        font-weight: 700;
        color: black;
        border: 0.188rem solid black;
        cursor: pointer;
        position: relative;
        background-color: transparent;
        text-decoration: none;
        overflow: hidden;
        z-index: 1;
        font-family: inherit;
        border-radius: 20rem;
    }

    .logo {
        height: 12vw;
        width: auto;
    }

    .main-car {
        width: 70vw;
        height: auto;
    
    }

    .highlights-space {
        justify-content: space-between;
        width: 100%;
        padding-top: 1.7rem;
    }
    
    .highlights {
        background-color: #F5F5F5;
        border-right: 0.063rem solid #7A7B7B;
        border-radius: 1.875rem;
        border-top: none;
        width: 25%;
        height: 15vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .no-border-right {
        border-right: none;
    }
    
    .highlights p {
        padding: 0.313rem;
        font-size: 100%;
        font-style: italic;
    }

}
@media only screen and (min-width:1382px) {
    .logo {
        height: 7vw;
        width: auto;
    }
}